* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url("expressive-young-woman-posing-studio-03.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh; 
  position: relative; 
}

header {
  background-color: #243949;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
}

.logo a {
  text-decoration: none;
  color: #fff;
  margin-left: -20px;
  font-size: 10px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin-top: 10px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.nav{
  margin-top: -28px;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

nav ul li a:hover {
  color: #d09707;
}

.login-button {
  background-color: #d09707;
  border-radius: 3px;
  margin-right: -30px;
  padding: 5px 15px;
  color: #fff;
  font-weight: bold;
}
.FIrst h1 {
  color: #187aac;
  position: absolute;
  top: 50%;
  left: 150%;
}

button {
  background-color: #d09707;
  color: #ffffff;
  padding: 20px 50px;
  border: none;
  margin-top: 45%;
  font-style: bold;
  left: 10%;
}
.profile{
image-resolution: 160px;
}

h2 {
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 10%;
}
.profile{
  image-resolution: 160px;
}

.profile-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 65px;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show-dropdown {
  display: block;
}
.hamburger-menu {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 20px;
  top: -2px;
  position: relative;
  left: -110px;
}

.bar {
  width: 90%;
  height: 3px;
  background-color: #fff; 
  margin: 4px 0;
  transition: 0.4s;
}

#menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 49px; 
  left: 0;
  background-color: #fff;
  width: 20%;
  text-align: center;
  display: none;
}
.box:hover{
  width: 100%;
  background-color: #243949;
}
#menu-items.show-mobile-menu {
  display: block;
}

#menu-items li {
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#menu-items li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

